#circle {
    width: 250px;
    height: 250px;
    background-color: red;
    border: 1px solid red;
    border-radius: 50%;
}

#text {
    font-size: 24px;
}

button {
    background-color: #cc6600;
    border: 2px solid black;
    border-radius: 7%;
}

input {
    background-color: #cc6600;
    border: 2px solid black;
    border-radius: 7%;
}

body {
    background-color: #FF8000;
}
